[Desktop Entry]
Name=Dwarf Fortress Classic
Exec=dwarffortress
Icon=${SNAP}/meta/gui/icon.png
Type=Application
Version=1.1
StartupNotify=true
StartupWMClass=Dwarf_Fortress
Categories=Game;Simulation;
